@import '../../styles/variables/colors';

.main-menu {
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-item {
    display: inline-block;

    span {
      font-size: 1.6rem;
      cursor: pointer;
    }
  }

  .nav-link {
    margin: 0 1rem;
    text-transform: uppercase;

    &.active,
    &:hover {
      color: $mainRed;
    }
  }

  .logo-link img {
    width: 20rem;
  }
}
