@import '../../styles//variables/colors';

.product-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(25% - 2rem);
  box-shadow: 0px 0.3rem 1.5rem $boxShadow;
  border-radius: 1rem;
  margin: 0 2rem 2rem 0;
  padding: 1.5rem;
  text-align: center;

  .card-body {
    flex: 1 0 0;
  }

  .product-title,
  .product-description,
  .product-price {
    margin-bottom: 1rem;
  }

  .product-description {
    font-size: 1.4rem;
  }

  .product-price {
    color: $mainRed;
    font-weight: 700;
    font-size: 1.7rem;
  }

  .product-cta {
    display: flex;
    justify-content: center;

    a {
      margin: 0 0.5rem;
      display: inline-block;
    }
  }
}
