html {
  font-size: 10px; /*for using REM units*/
}

body {
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
