@import '../variables/colors';

.btn {
  padding: 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  border-radius: 1rem;
  transition: all 0.5s;
  border: 0.1rem solid $mainRed;

  &.btn-primary {
    background: $mainRed;
    color: $white;

    &:hover {
      color: $mainRed;
      background: $white;
    }
  }

  &.btn-secondary {
  }
}
