@import '../variables/colors';

.form-container {
  width: 50rem;
  margin: auto;
  text-align: center;
  padding: 3rem 1.5rem;
  box-shadow: 0px 0.3rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  .form-title {
    margin-bottom: 2rem;
  }

  .form-control {
    width: 100%;
    margin: 1.5rem 0;
    padding: 1.5rem;
    border: 0.1rem solid $lightGray;
    border-radius: 1rem;
    font-size: 1.3rem;

    &:focus {
      border-bottom: 0.2rem solid $lightGray;
    }
  }
}
